// ==============================
// Search
// =============================

.menu-search {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1.5em;
  background: $white;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-property: width;
  transition-timing-function: ease-out;

  .search-input {
    width: calc(100% - 45px);
    height: 100%;
    border: 0;
    outline: 0;
  }

  &.expanded {
    width: 101%;
    height: 100%;
    padding-left: 5px;
    margin: 0;
    border: 1px solid $light-gray;
    border-radius: 50px;
    box-sizing: border-box;
  }
}

