.archive {
    max-width: 500px;
    margin: 5em auto;
    .post-item {
        padding: 2px 0 0 50px;
    }
    .post-time {
        display: inline-block;
        width: 65px;
        color: @color-time;
    }
    .post-title-link {
        color: @color-theme;
    }
    .post-item, .post-title-link {
        font-size: 1rem;
    }
}
