// Even theme for Hexo by Ahonn

///
// @group code
///

// Color of the '<code>'
// @type Color
$code-color: #c7254e !default;

// Color of the code background
// @type Color
$code-background: #f8f5ec !default;

// Font family of the code
// @type List
$code-font-family: Consolas, Monaco, Menlo, Consolas, monospace !default;

// Color of the code header background
// @type Color
$highlight-header-background: #f1ede4 !default;

// Code type list
// @type List
$code-type-list: ("html", "js", "bash", "css", "scss","diff", "java", "xml",
                 "python", "json", "swift", "ruby", "perl", "php", "c", "java",
                 "cpp", "scheme");

// Code type signs
@mixin code-type-signs {
  @each $sign in $code-type-list {
    &.#{$sign}::after {
      content: to-upper-case($sign);
    }
  }
}

@mixin even-code {
  code, pre {
    font-size: 13px;
    font-family: $code-font-family;
    background: $code-background;
  }

  code {
    padding: 3px 5px;
    border-radius: 4px;
    color: $code-color;
  }

  .highlight {
    position: relative;
    margin: 1em 0;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 2px 7px;
      font-size: 12px;
      font-weight: bold;
      color: $medium-gray;
      background: $highlight-header-background;
      content: 'CODE';
    }

    @include code-type-signs;

    .code pre {
      margin: 0;
      padding: 30px 14px 10px;
    }

    .gutter {
      display: none;
    }

    table, tr, td {
      margin: 0;
      padding: 0;
      width: 100%;
      border-collapse: collapse;
    }

    @include code-heightlight-solarized;
    
  }
}

// Code heightlight style: solarized
@mixin code-heightlight-solarized {
  .code {
    .comment,
    .quote {
      color: #93a1a1;
    }

    /* Solarized Green */
    .keyword,
    .selector-tag,
    .addition {
      color: #859900;
    }

    /* Solarized Cyan */
    .number,
    .string,
    .meta .meta-string,
    .literal,
    .doctag,
    .regexp {
      color: #2aa198;
    }

    /* Solarized Blue */
    .title,
    .section,
    .name,
    .selector-id,
    .selector-class {
      color: #268bd2;
    }

    /* Solarized Yellow */
    .attribute,
    .attr,
    .variable,
    .template-variable,
    .class .title,
    .type {
      color: #b58900;
    }

    /* Solarized Orange */
    .symbol,
    .bullet,
    .subst,
    .meta,
    .meta .keyword,
    .selector-attr,
    .selector-pseudo,
    .link {
      color: #cb4b16;
    }

    /* Solarized Red */
    .built_in,
    .deletion {
      color: #dc322f;
    }

    .formula {
      background: #eee8d5;
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
    }
  }
}