// Even theme for Hexo by Ahonn

///
// @group iconfont
///

// set iconfont
// @type Map
$icons: (
  twitter  : '\e600',
  facebook : '\e601',
  weibo    : '\e602',
  email    : '\e605',
  github   : '\e606',
  zhihu    : '\e608',
  rss      : '\e604'
) !default;

// Font face of the iconfont
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

@mixin iconfont {
  display: inline-block;
  font-family: "iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@mixin even-iconfont {
  .iconfont {
    @include iconfont;
  }

  @each $name, $content in $icons {
    .icon-#{$name}::before {
      content: $content;
    }
  }
}
