<% if ((theme.reward.enable && page.reward !== false) || page.reward === true) { %>  
  <div class="post-reward">  
    <input type="checkbox" name="reward" id="reward" hidden />  
    <label class="reward-button" for="reward"><%- __('posts.reward') %></label>  
    <div class="qr-code">  
      <% var qrCode = theme.reward.qrCode; %>  
      <% if (qrCode.wechat) { %>  
        <label class="qr-code-image" for="reward">  
          <img class="image" src="<%- url_for(qrCode.wechat) %>" title="wechat">  
        </label>  
      <% } %>  
      <% if (qrCode.alipay) { %>  
        <label class="qr-code-image" for="reward">  
          <img class="image" src="<%- url_for(qrCode.alipay) %>" title="alipay">  
        </label>  
      <% } %>  
    </div>  
  </div>  
<% } %>  
