{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 5,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "globals": {
    "$": true,
    "AV": true,
    "NProgress": true,
    "Even": true,
    "themeConfig": true,
    "Slideout": true
  },
  "extends": "eslint:recommended"
}
