@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

@mixin min-screen() {
   @media screen and (min-width: $global-body-width) {
     @content;
   }
}

@mixin max-screen() {
   @media screen and (max-width: $global-body-width) {
     @content;
   }
}