@font-face {
  font-family: 'Apple Chancery';
  src: url('../fonts/apple-chancery/apple-chancery-webfont.eot');
  src: url('../fonts/apple-chancery/apple-chancery-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/apple-chancery/apple-chancery-webfont.woff') format('woff'),
  url('../fonts/apple-chancery/apple-chancery-webfont.ttf') format('truetype'),
  url('../fonts/apple-chancery/apple-chancery-webfont.svg#apple-chancery') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@keyframes move {
  0% { right: 0px; }
  50% { right: 65px; }
  100% { right: 130px; }
}

@keyframes rotate {
  0% { transform: none; }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
