// Even theme for Hexo by Ahonn

///
// @group footer
///

// Font size of the iconfont
// @type Number
$icon-font-size: 30px !default;

// Margin right of the icon
// @type Number
$icon-margin-right: 10px !default;

@mixin even-footer {
  footer {
    padding-top: 2em;

    @include even-social;
    @include even-copyright;
    @include even-toolbar;
  }
}

@mixin even-social {
  .social {
    display: block;
    text-align: center;

    .iconfont {
      display: inline-block;
      margin-right: $icon-margin-right;
      font-size: $icon-font-size;

      &:hover {
        color: $global-theme-color;
      }
    }
  }
}

@mixin even-copyright {
  .copyright {
    margin-top: 15px;
    margin-bottom: 10px;
    color: $global-dark-gray;
    text-align: center;
    font-family: $global-serif-font-family;

    .heart {
      margin: 0 5px;

      .icon-heart {
        font-size: 14px;
      }
    }

    .power {
      margin: 0;

      a {
        color: $global-theme-color;
      }
    }

    .since {
      margin: 0;
    }
  }
}

@mixin even-toolbar {

  #back2top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    opacity: 0;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;

    &:hover {
      transform: translateY(-5px); 
    }
  }
}
