// Even theme for Hexo by Ahonn

///
// @group sidebar
///

// Width of post sidebar
// @type Number
$post-sidebar-width: 200px !default;

// Font size of post sidebar
// @type Number
$post-sidebar-font-size: 15px !default;

// Background of post sidebar
// @type Color
$post-sidebar-bg: rgba($global-deputy-color, 0.6) !default;

// List style of post sidebar
// @type Value
$post-sidebar-list-style: square;

@mixin even-sidebar {
  .post .post-sidebar {
    width: $post-sidebar-width;
    position: absolute;
    padding: 10px;
    margin-left: $global-body-width - 20px;
    font-size: $post-sidebar-font-size;
    font-family: $global-serif-font-family;
    border-radius: 5px;
    background: $post-sidebar-bg;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    word-wrap: break-word;

    .heading {
      margin: 5px 10px;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }

    ol {
      list-style: none;
    }

    > ol {
      list-style: $post-sidebar-list-style;

      a.active {
        color: $global-theme-color;
      }
    }

    .toc {
      margin: 7px 0;
      padding-left: 15px;

      .toc-child {
        padding-left: 15px;
      }
    }
  }
}