extends partial/layout
include mixins/container
include mixins/comment

block title
  title!= __('About') + " · " + config.title

block container
  +page()

block comment
  if theme.comments.about
    +comment()
