extends partial/layout

block site_title
    if page.archive
        != __('Archive') + " · " + config.title
    if page.tag
        != page.tag + " · " + config.title

block description
    - desc = page.desc || page.title + ' - ' + config.author;
    meta(name="description", content=desc)

block container
    include mixins/post
    if page.tag
        +tagList()
    if page.archive
        +postList()

block pagination
    include mixins/paginator
    +home()
