extends partial/layout
include mixins/container
include mixins/paginator

block title
  title
    if page.archive
        != __('Archive') + " · " + config.title
    if page.tag
        != page.tag + " · " + config.title
        
block container
  if page.tag
      +tag()
  if page.archive
      +archive()

block pagination
  +paginator('archive')
