extends partial/layout
include mixins/container
include mixins/paginator

block title
  title
    if page.archive
        != __('Archives') + " · " + config.title
    if page.tag
        != page.tag + " · " + config.title
    if page.category
        != page.category + " · " + config.title

block container
  if page.archive
    +archive()
  if page.tag
    +tag()
  if page.category
    +category()

block pagination
  +paginator('archive')
