extends partial/layout
include mixins/container
include mixins/paginator

block title
  title
    if page.archive
        != __('Archive') + " · " + config.title
    if page.tag
        != __('Tag') + " - "+ page.tag + " · " + config.title
    if page.category
        != __('Category') + " - "+ page.category + " · " + config.title
block container
  if page.archive
    +archive()
  if page.tag
    +tag()
  if page.category
    +category()

block pagination
  +paginator('archive')
