extends partial/layout

block site_title
    != config.title

block description
    if config.description
        - desc = config.description;
        meta(name="description", content=desc)

block container
    include mixins/post
    +posts()

block pagination
    include mixins/paginator
    +home()

block social
    include mixins/social
    +social_icon()
