extends partial/layout
include mixins/comment
include mixins/container

block title
  title= page.title + " · " + config.title

block container
  +page()

block comment
  if theme.comments.post
    +comment()