extends partial/layout

block site_title
    != page.title + " · " + config.title

block description
    - desc = page.desc || page.title + ' - ' + config.author;
    meta(name="description", content=desc)

block container
    include mixins/post
    +post()

block tags
    include mixins/tags
    +tags()

block pagination
    include mixins/paginator
    +post()

block comment
    include mixins/comment
    +comment()
