extends partial/layout
include mixins/tags

block site_title
    != __('Tags') + " · " + config.title

block description
    - desc = page.desc || page.title + ' - ' + config.author;
    meta(name="description", content=desc)

block container
    +tagcloud()
