.copyright
        - var currentDate = new Date();
        - var year = currentDate.getFullYear()
        if config.since
          - year = year == config.since ? year : config.since + ' -  ' + year

        p © #{year}
            span.heart
                i.icon-next-heart.fa.fa-heart
            a(href=url_for=config.url)
                != config.author
