//- social
if theme.social && is_home()
  div.social
    for link, name in theme.social
      - var href = name != "email" ? url_for(link) : ('mailto:' + link)
      a.iconfont(class="icon-#{name}" href=href title=name)

//- Copyright
if page.layout != 'tags' && page.layout != 'categories'
  .copyright
    - var currentDate = new Date()
    - var year = currentDate.getFullYear()
    - var since = config.since
    if since
      - year = year == since ? year : since + '-' + year
    - copyright = '&copy;' + year
    
    p.power
      != "Powered by "
      a(href="https://hexo.io/")
        != "Hexo" 
      != " and Theme by "
      a(href="https://github.com/ahonn/hexo-theme-even") 
        != "Even"
    p.since
      != copyright
      span.heart
        i.iconfont.icon-heart
      span.author
        != config.author
    //- p.theme
    //-   != "Theme by " 
      
    //-   a(href="https://github.com/ahonn/hexo-theme-even") 
    //-     != "Even"
  
//- Back to top
label#back2top
  i.iconfont.icon-up
