include meta

block title

link(rel="icon", href=url_for(theme.favicon))

//- canonical url https://support.google.com/webmasters/answer/139066
link(rel="canonical", href=url_for(url.replace(/index\.html/,'')))
//- RSS
!= feed_tag('atom.xml')

//- iconfont
link(rel="stylesheet", href=url_for("fonts/iconfont/iconfont.css"))
//- theme style
link(rel="stylesheet", href=url_for("css/style.css"))

include ../mixins/analytics
if theme.baidu_analytics && !env.debug
  //- baidu analytics
  +baidu_analytics()

if theme.google_analytics && !env.debug
  //- google analytics
  +google_analytics()
