doctype
html(lang=config.language)
    head
        include head
    body
        header
            include header
        section.container
            block container
        footer
            block pagination
            block comment
            include footer