- var language = config.language || 'en'

doctype
html(lang=language)
  head
    include head
  body
    #main
      header
        include header
      section#container
        block container
        block tags
        block pagination
        block comment
      footer
        include footer
    include script
