doctype
html(lang=config.language)
    head
        include head
    body
        header
            include header
        section.container
            block container
            block pagination
        footer
            block comment
            block social
            include copyright