doctype
html(lang=config.language)
  head
    include head
  body
    include sidebar
    .main
      header
        include header
      section.container
        block container
        block tags
        block pagination
      footer
        block comment
        block social
        include copyright
    include tool
