///
// Custom style
///

// =============== Global ===============//

// Default theme color of the site.
// @type Color
// $global-theme-color: #c05b4d;

// Deputy theme color of the site.
// @type Color
// $global-deputy-color: #f8f5ec;

// Font size attribute applied to '<html>' and '<body>'.
// @type Number
// $global-font-size: 16px;

// Global width of the site
// @type Number
// $global-body-width: 800px;