// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
$theme-color: #4fc08d;

$deputy-color: #f8f8f8;

$deputy-color: rgba(236, 255, 243, 0.95);

.post .post-content .highlight .gutter {
    user-select: none;
}
