//- paginator
mixin paginator()
  - var prev_link, next_link, prev_title, next_title;
  if is_home() || is_archive()
    - prev_link = page.prev_link;
    - next_link = page.next_link;
  else if is_post()
    if page.prev
      - prev_link = page.prev.path;
      - prev_title = page.prev.title;
    if page.next
      - next_link = page.next.path;
      - next_title = page.next.title;
  
  .paginator
    if prev_link
      a.prev#prev(href=url_for(prev_link) data-title=prev_title)
        i.iconfont.icon-left
        span
          != __('prev')
    if next_link
      a.next#next(href=url_for(next_link) data-title=next_title)
        span
          != __('next')
        i.iconfont.icon-right