//- Page Tags
mixin tags()
    if page.tags
      .tags
          for tag in page.tags.toArray()
              a(href=url_for(tag.path))
                  = tag.name

mixin tagcloud()
    .tagcloud
        div.tags-total
            p!= 'A total of ' + site.tags.length
        != tagcloud({min_font: 14, max_font: 26, amount: 100, orderby: 'count'})
