//- Post tags
mixin tags()
  if page.tags
    .tags
      for tag in page.tags.toArray()
        a(href=url_for(tag.path))
          = tag.name

//- Tag cloud
mixin tagcloud()
  .tagcloud
    div.total
      p!= 'A total of '
        span!= site.tags.length-1
    != tagcloud({min_font: 14, max_font: 26, amount: 100, orderby: 'count'})
