//- Post tags
mixin tags()
  if page.tags
    .tags
      for tag in page.tags.toArray()
        a(href=url_for(tag.path))
          = tag.name

//- Tag cloud
mixin tagcloud()
  .tagcloud
    div.total
      if site.tags.length != 0
        p!= 'A total of '
          span!= site.tags.length
    != tagcloud({min_font: 16, max_font: 26, amount: 100, orderby: 'count'})
