// ==============================
// Iconfont
// ==============================

@font-face {
  font-family: 'iconfont';  /* project id 96542 */
  src: url('//at.alicdn.com/t/font_sqx2jdmy212it3xr.eot');
  src: url('//at.alicdn.com/t/font_sqx2jdmy212it3xr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_sqx2jdmy212it3xr.woff') format('woff'),
  url('//at.alicdn.com/t/font_sqx2jdmy212it3xr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_sqx2jdmy212it3xr.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.icon-tumblr:before {
  content: "\e69f";
  font-size: .85em;
  position: relative;
  top: -4px;
}
.icon-linkedin:before {
  content: "\e60d";
  position: relative;
  top: -4px;
}
.icon-twitter:before {
  content: "\e600";
}
.icon-weibo:before {
  content: "\e602";
}
.icon-stack-overflow:before {
  content: "\e603";
  font-size: .85em;
  position: relative;
  top: -4px;
}
.icon-email:before {
  content: "\e605";
  position: relative;
  top: -2px;
}
.icon-facebook:before {
  content: "\e601";
  font-size: .95em;
  position: relative;
  top: -2px;
}
.icon-github:before {
  content: "\e606";
  position: relative;
  top: -3px;
}
.icon-rss:before {
  content: "\e604";
}
.icon-google:before {
  content: "\e609";
}
.icon-zhihu:before {
  content: "\e607";
  font-size: .9em;
  position: relative;
  top: -2px;
}
.icon-pocket:before {
  content: "\e856";
}

/* Generic Icon */
.icon-heart:before {
  content: "\e608"; 
}
.icon-right:before { 
  content: "\e60a";
}
.icon-left:before {
  content: "\e60b"; 
}
.icon-up:before {
  content: "\e60c";
}
.icon-search:before {
  content: "\e60e";
}
.icon-close:before {
  content: "\e60f";
}
