// ==============================
// Iconfont
// ==============================

@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont/iconfont.woff2') format('woff2'), /* chrome, firefox */
  url('../fonts/iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

}
.icon-linkedin:before {
  content: "\e60d";
  position: relative;
  top: -2px;
}
.icon-twitter:before {
  content: "\e600";
}
.icon-weibo:before {
  content: "\e602";
}
.icon-stack-overflow:before {
  content: "\e603";
  font-size: .85em;
  position: relative;
  top: -4px;
}
.icon-email:before {
  content: "\e605";
  position: relative;
  top: -2px;
}
.icon-facebook:before {
  content: "\e601";
  font-size: .95em;
  position: relative;
  top: -2px;
}
.icon-github:before {
  content: "\e606";
  position: relative;
  top: -3px;
}
.icon-rss:before {
  content: "\e604";
}
.icon-google:before {
  content: "\e609";
}
.icon-zhihu:before {
  content: "\e607";
  font-size: .9em;
  position: relative;
  top: -2px;
}
.icon-heart:before {
  content: "\e608"; 
}
.icon-right:before { 
  content: "\e60a";
}
.icon-left:before {
  content: "\e60b"; 
}
.icon-up:before {
  content: "\e60c";
}
